$bg-color: hsl(222, 40%, 13%);
$font-color: hsl(222, 16%, 69%);
$light-blue: hsl(211, 98%, 49%);
$blue: hsl(223, 42%, 14%);
$mid-blue: hsl(224, 40%, 20%);
$text-active: hsl(219, 100%, 96%);
$text-passive: hsl(221, 11%, 60%);
