@import "reset";
@import "variables";
@import "mixin";
:root {
  font-size: 16px;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  background-color: $bg-color;

  &.light {
    background: $bg-color-light;
  }
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  @include media(large) {
    margin-top: 50px;
    width: 100%;
    overflow: auto;
  }
}

.searchBar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  max-width: 800px;
  @include media(large) {
    width: 95%;
    margin: 0 auto;
  }
  height: 135px;

  & .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: $text-active;

    height: 100%;
    &.light {
      color: $text-active-light;
    }
    font-size: 1.5rem;

    & > button {
      background: none;
      border: none;
      color: $text-active;

      &.light {
        color: $text-active-light;
      }
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    & > p {
      line-height: 3rem;
      height: 100%;
    }
  }
}

.searchBar {
  width: 100%;
  height: 75px;
  display: flex;
  background-color: $mid-blue;
  &.light {
    background-color: $mid-blue-light !important;
  }
  justify-content: space-between;
  border-radius: 8px;
  padding: 5px;
  @include media(large) {
    height: 100%;
    flex-wrap: wrap;
  }
  & > input {
    width: 80%;
    background-color: $mid-blue;
    border: none;
    color: $text-active;
    font-size: 1.1rem;
    &.light {
      background-color: $mid-blue-light !important;
      color: $text-active-light !important;
    }
    @include media(small) {
      width: 100%;
      line-height: 2rem;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
  & > button {
    padding: 5px;
    margin: 5px;
    background-color: $light-blue;
    border-radius: 8px;
    width: 90px;
    border: none;
    color: $text-active;
    &.light {
      color: $text-active-light;
      background-color: $light-blue-light;
    }
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1rem;
    @include media(large) {
      width: 100%;
    }
  }
  & i {
    color: $light-blue;
    &.light {
      color: $light-blue-light;
    }
    width: 30px;
    align-self: center;
    padding: 10px 14px;
    margin-right: 40px;
    @include media(small) {
      display: none;
    }
  }
}

input::placeholder {
  color: $text-active;
  font-size: 1.1rem;

  letter-spacing: 1px;
  @include media(small) {
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}
.light ::placeholder {
  color: $text-active-light;
}

.card-container {
  display: flex;
  width: 800px;
  max-width: 800px;
  height: 400px;
  background-color: $mid-blue;
  &.light {
    background-color: $mid-blue-light;
  }
  border-radius: 8px;
  padding: 5px;
  margin-top: 20px;
  position: relative;
  @include media(large) {
    width: 95%;
    margin: 30px auto;
    flex-direction: column;
    height: 100%;
  }

  & .image-area {
    position: relative;
    flex: 1;
    @include media(large) {
      height: 100%;
      margin-bottom: 40px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    & > img {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      position: absolute;
      top: 45px;
      left: 45px;
      @include media(large) {
        position: relative;
        border-radius: 75%;
        top: 10px;
        left: 0px;
      }
    }
  }
}

.user-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 90%;
  align-self: center;
  @include media(small) {
    width: 100%;
  }

  & .row {
    margin: 5px 0 10px 20px;
    width: 80%;
    display: flex;
    color: $text-active;
    @include media(large) {
      width: 100%;
      padding: 10px;
      margin: 0 !important;
    }

    &.light {
      color: $text-active-light;
    }

    &.first-row {
      @include media(large) {
        margin: 5px 0 -15px 20px;
      }
      @include media(small) {
        margin: 5px 0 -5px 20px;
      }
    }
    flex: 1;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }

  & .second-row {
    flex: 0.5;
    margin-top: 0px;
  }

  & .detail-area {
    border-radius: 15px;
    background-color: $bg-color;
    @include media(small) {
      font-size: 0.8rem;
    }

    &.light {
      background-color: $bg-color-light;
    }
    align-items: center;
    & > * {
      padding: 0 20px;
    }
  }
}

.last-row {
  @include media(small) {
    flex-direction: column;
  }
}

.last-row > * {
  width: 40%;

  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 10px;
  @include media(small) {
    width: 100%;
  }
  @include media(small) {
    width: 100%;
  }

  & i {
    padding: 0 5px;
    width: 30px;
  }
}

.font-bg {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.nick {
  color: $light-blue;
  &.light {
    color: $light-blue-light;
  }
}

.text-passive {
  color: $text-passive;
  &.light {
    color: $text-passive-light;
  }
}

.header {
  font-size: 2rem;
}

.warning {
  width: 100%;
  height: 100%0;
  color: $text-active;
  text-align: center;
  align-self: center;
  font-size: 25px;
  &.light {
    color: $text-active-light;
  }
}
